@import url('./sharedComponentsStyles/quoteOfTheDay.css');
@import url('./sharedComponentsStyles/timeCard.css');
@import url('./sharedComponentsStyles/workoutCard.css');

.favorites-wrapper {
	margin-top: 84px;
	margin-bottom: 80px;
}

@media only screen and (min-width: 1440px) {
	.desktop-favorites-section {
		display: flex;
		align-items: flex-start;
		gap: 32px;
	}
}

@media only screen and (min-width: 1440px) {
	.left-section-part {
    max-width: 494px;
    width: 100%;
		display: flex;
		flex-direction: column;
    flex-shrink: 0;
	}
}

.right-section-part {
  width: 100%;
}

.favorites-section-title {
	color: #242424;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -0.56px;
	margin-bottom: 20px;
}


.workout-list-wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
}

@media only screen and (min-width: 1440px) {
  .workout-list-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.workout-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 600px;
}

@media only screen and (min-width: 768px) {
	.workout-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}

.not-items-message {
  margin: 0 auto;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.28;
}

@media only screen and (min-width: 768px) {
	.not-items-message {
		max-width: 554px;
		padding-top: 132px;
		font-size: 18px;
		line-height: 1.33;
	}
}

@media only screen and (min-width: 1440px) {
	.not-items-message {
    margin-top: 114px;
		padding-top: 0;
	}
}