.header-section {
	margin-top: 20px;

	@media (min-width: 768px) {
		margin-top: 24px;
	}

	@media (min-width: 1440px) {
		margin-top: 28px;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 24px;
	transition: transform var(--fast-trns);

	 font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #242424; 
  text-decoration: none;
  
  display: flex;
  align-items: center;
  width: 132px; 
  height: 24px; 
  flex-shrink: 0;




	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

.burger-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 32px;
	height: 32px;

	transition: transform var(--fast-trns);

	@media (min-width: 768px) {
		display: none;
	}

	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

.burger svg {
	width: 32px;
	height: 32px;
	fill: var(---accent-color);
}

.header-desktop-nav {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		gap: 80px;
	}

	@media (min-width: 1440px) {
		gap: 400px;
	}
}