.hero {
	padding: 80px 0 40px;
}

.hero h1 {
	font-size: 38px;
	font-weight: 400;
	line-height: 1.15;
	margin-bottom: 20px;
	letter-spacing: -0.02em;
}

.hero .icon {
	position: relative;
	top: 8px;
	display: inline-block;
	height: 38px;
	width: 38px;
	margin-right: 10px;
}

.hero .icon svg {
	width: 100%;
	height: 100%;
}

.hero p {
	margin-bottom: 20px;
}

.hero-image {
	height: 460px;
	margin-bottom: 20px;
}

.hero-image .desctop-img {
	display: none;
}

.hero-image img {
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.hero-tags {
	display: flex;
	justify-content: flex-end;
	gap: 8px;

	@media (max-width: 375px) {
		flex-wrap: wrap;
		margin: 0 auto;

		width: 168px;
	}
}

.hero-tags span {
	border: 1px solid #242424;
	padding: 4px 12px;
	border-radius: 30px;
}

.hero-tag-container .hero-tag-image {
	display: none;
	margin-bottom: 32px;
}

/* Tablet */
@media (min-width: 768px) {
	.hero {
		padding: 100px 0 64px;
	}

	.hero h1 {
		font-size: 74px;
		max-width: 88%;
	}

	.hero p {
		font-size: 18px;
		margin-bottom: 32px;
	}

	.hero .icon {
		height: 60px;
		width: 60px;
	}

	.hero-image {
		height: 550px;
		margin-bottom: 16px;
	}

	.hero-image img {
		height: 100%;
		object-fit: cover;
	}

	.hero-tags span {
		font-size: 16px;
	}
}

/* Desktop */
@media (min-width: 1440px) {
	.hero-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: left;
	}

	.hero-image {
		min-width: 100%;
		width: 100%;
		height: 350px;
	}

	.hero-image .desctop-img {
		display: block;
	}

	.mobile-img {
		display: none;
	}

	.hero-tag-container {
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.hero-tags {
		flex-wrap: wrap;
	}

	.hero-tag-container .hero-tag-image {
		display: block;
		width: 168px;
		height: 100px;
	}

	.hero-text {
		order: 1;
		width: 660px;
	}

	.hero-tag-container {
		order: 2;
	}

	.hero-image {
		order: 3;
		margin-bottom: 0;
	}
}