.home-section {
	padding: 4px 0 80px;
}

.home-main-container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (min-width: 768px) {
		gap: 32px;
	}
}

.home-header {
	display: flex !important;
	flex-direction: column;
	gap: 40px;

	@media (min-width: 768px) {
		gap: 32px;
	}

	@media (min-width: 1440px) {
		flex-direction: row;
		gap: 0;
		justify-content: space-between;
	}
}

.title-wrapper {
	display: flex;
	gap: 8px;
	align-items: baseline;

	@media (min-width: 1440px) {
		height: 48px;
	}
}

.home-title {
	font-size: 28px;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -0.02em;

	@media (min-width: 768px) {
		font-size: 44px;
		line-height: 1.09;
	}

	@media (min-width: 1440px) {
	}
}

.current-category-name {
	color: rgba(36, 36, 36, 0.5);
	font-size: 20px;
	line-height: 1;
	letter-spacing: -0.02em;

	@media (min-width: 768px) {
		font-size: 24px;
		line-height: 1.33;
	}

	@media (min-width: 1440px) {
	}
}

.filters-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 0;
		justify-content: space-between;
	}

	@media (min-width: 1440px) {
		gap: 30px;
	}
}

.search {
	position: relative;

	display: none;
}

.search-input {
	width: 100%;
	padding: 12px 46px 12px 14px;

	border: 2px solid var(--accent-color);
	border-radius: 30px;

	background-color: transparent;

	color: var(--accent-color);
	font-size: 14px;

	transition: box-shadow var(--fast-trns);

	@media (min-width: 768px) {
		width: 273px;

		font-size: 16px;
		height: 48px;
	}

	@media (min-width: 1440px) {
		gap: 30px;
	}
}

.input-btn {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
}

.search-icon {
	stroke: currentColor;
	fill: transparent;
}

.filters {
	display: flex;
	align-items: start;
	gap: 20px;

	height: 28px;

	@media (min-width: 768px) {
		height: 48px;
	}
}

.filter-btn {
	position: relative;

	height: 28px;

	color: rgba(36, 36, 36, 0.6);
	font-size: 14px;
	line-height: 1.43;

	transition: color var(--fast-trns);

	@media (min-width: 768px) {
		height: 32px;

		font-size: 16px;
		line-height: 1.5;
	}

	&:hover {
		color: var(--accent-color);
	}

	&.active {
		color: var(--accent-color);
	}
}

.filter-btn.active::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
	transform: scaleX(1);
	transform-origin: left;
	animation: underlineSlide 0.5s forwards;
}

@keyframes underlineSlide {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	gap: 80px;

	@media (min-width: 768px) {
		gap: 64px;
	}

	@media (min-width: 1440px) {
		flex-direction: row-reverse;
		justify-content: start;
		align-items: flex-start;
		gap: 32px;
	}
}

.cards-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (min-width: 768px) {
		gap: 0px;
	}
}

.cards-wrapper {
	width: 100%;
}

.cards-container:has(.category-card) {
	@media (min-width: 768px) {
		height: 996px;
	}

	@media (min-width: 1440px) {
		height: 1064px;
	}
}

.cards-container:has(.workout-list-item) {
	@media (min-width: 768px) {
		column-gap: 16px;
		row-gap: 32px;
	}
}

/* #region Side bar */

.encourage-section {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (min-width: 768px) {
		gap: 0px;
	}
}

.quote-wrapper {
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	@media (min-width: 1440px) {
		flex-direction: column;
	}
}

.search {
  position: relative; /* Необхідно для позиціонування іконки всередині */
}

.search-input {
  width: 273px;
  height: 48px;
  padding: 14px 48px 14px 14px; /* Місце справа для іконки */
  border-radius: 30px;
  border: 1px solid rgba(36, 36, 36, 0.2);
  background-color: transparent;
  outline: none;
}

.input-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.search-icon {
  stroke: #242424; /* Колір іконки пошуку */
  fill: none;
}

.encourage-img-container {
	margin-bottom: 32px;
	height: 242px;

	border-radius: 20px;
	overflow: hidden;

	@media (min-width: 768px) {
		width: 288px;
	}

	@media (min-width: 1440px) {
		width: 444px;
		height: 242px;
	}
}

.encourage-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.time-card-home {
	margin-bottom: 0;
	width: 100%;

	@media (min-width: 768px) {
		width: 400px;
	}

	@media (min-width: 1440px) {
		width: 440px;
	}
}
.time-min-card-main-text {
	@media (max-width: 1439.98px) {
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 290px);
  gap: 15px;

  width: 900px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.exercise-card {
  position: relative;
  width: 290px;
  height: 242px;
  border-radius: 12px;
  overflow: hidden;
}

.exercise-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.exercise-card__label {
  position: absolute;
  left: 16px;
  bottom: 16px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
}


@media only screen and (min-width: 1440px) {
  
  .encourage-section {
    width: 444px !important;
    flex: 0 0 444px !important;
  }

  .cards-wrapper {
    flex: 0 0 900px !important;
    width: 900px !important;
    align-self: flex-start !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .cards-container {
    display: grid !important;
    grid-template-columns: repeat(3, 290px) !important;
    gap: 15px !important;
    width: 900px !important;

    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
  }

   .cards-container:has([class*="workout"]) {
  grid-template-columns: repeat(2, 442px) !important;
  gap: 32px 16px !important;
  width: 900px !important;
  display: grid !important;
  }
}







