.modal.hidden {
	display: none;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	overflow-y: auto;
	padding: 20px;

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s ease, background-color 0.3s ease,
		visibility 0s linear 0.3s;
}

.modal.show {
	display: flex;
	background-color: rgba(4, 4, 4, 0.4);

	visibility: visible;
	opacity: 1;

	transition: opacity 0.3s ease, background-color 0.3s ease,
		visibility 0s linear;
}

.modal-content.hidden {
	display: none;
}

.modal-content {
	position: relative;
	width: 335px;
	background: #242424;
	overflow: hidden;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 40px 20px;
	color: #f4f4f4;
}

@media (min-width: 768px) {
	.modal-content {
		width: 704px;
		min-height: 486px;
		padding: 32px;
	}
}

@media (min-width: 1440px) {
	.modal-content {
		width: 708px;
		height: 486px;
	}
}

.modal-data {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
@media (min-width: 768px) {
	.modal-data {
		flex-direction: row;
		gap: 32px;
	}
}

.close-button {
	position: absolute;
	top: 14px;
	right: 14px;
	cursor: pointer;
}

.close-button svg {
	width: 24px;
	height: 24px;
	stroke: #f4f4f4;
}

@media (min-width: 768px) {
	.close-button {
		top: 16px;
		right: 16px;
	}
	.close-button svg {
		width: 28px;
		height: 28px;
	}
}

/* Зображення */
.img-container {
	width: 295px;
	height: 258px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.img-container {
		width: 270px;
		height: 259px;
	}
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

/* Контейнер для тексту */
.text-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	justify-content: space-between;
	width: 100%;
}

@media (min-width: 768px) {
	.text-container {
		gap: 16px;
	}
}

.modal-content h2 {
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.modal-content h2 {
		margin-bottom: 8px;
		line-height: 32px;
		font-size: 24px;
	}
}

/* Рейтинг */
.rating-container {
	display: flex;
	align-items: center;
	gap: 2px;
	color: #f4f4f4;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.stars {
	display: flex;
	gap: 2px;
}
.stars svg {
	padding: 2px;
	width: 18px;
	height: 18px;
	fill: rgba(244, 244, 244, 0.2);
}

.stars svg.filled {
	fill: #eea10c;
}

/* Інформація про вправу */
.info-container {
	display: flex;
	flex-wrap: wrap;
}

.info-container::before,
.info-container::after {
	content: '';
	width: 100%;
	height: 1px;
	background: rgba(244, 244, 244, 0.2);
}

.info {
	margin: 10px 20px 10px 0;
}

@media (min-width: 768px) {
	.info {
		margin: 8px 16px 8px 0;
	}
}

.info h3 {
	color: rgba(244, 244, 244, 0.4);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.info p {
	color: #f4f4f4;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.description {
	color: rgba(244, 244, 244, 0.6);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	.description {
		margin-bottom: 64px;
	}
}

/* Кнопки */
.btn-container {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (min-width: 768px) {
	.btn-container {
		flex-direction: row;
		justify-content: end;
		gap: 7px;
	}
}

.modal-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 30px;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	transition: all 0.3s ease;
}

.add-fav-btn {
	padding: 12px 0;
	background: #f4f4f4;
	color: #242424;
	border: 1px solid #f4f4f4;
}

.add-fav-btn:hover {
	background: #242424;
	color: #f4f4f4;
}

.add-fav-btn svg {
	width: 18px;
	height: 18px;
	stroke: #242424;
	color: #242424;
	fill: none;
	transition: all 0.3s ease;
}

.add-fav-btn:hover svg {
	color: #f4f4f4;
	stroke: currentColor;
}

.add-rate-btn {
	padding: 12px 107px;
	border: 1px solid #f4f4f4;
	color: #f4f4f4;
}

.add-rate-btn:hover {
	background: #f4f4f4;
	color: #242424;
}

@media (min-width: 768px) {
	.modal-btn {
		font-size: 16px;
		line-height: 24px;
	}
	.add-fav-btn {
		padding: 12px 24px;
	}

	.add-fav-btn svg {
		width: 20px;
		height: 20px;
	}
	.add-rate-btn {
		padding: 12px 22px;
	}
}

@media (min-width: 1440px) {
	.add-rate-btn {
		padding: 12px 24px;
	}
}