<div class="favorites-wrapper">
	<div class="container favorites-section-wrapper">
		<h1 class="favorites-section-title">Favorites</h1>
		<div class="desktop-favorites-section">
			<div class="left-section-part">
				<load src="/partials/sharedComponents/quoteOfTheDay.html" />
				<load src="/partials/sharedComponents/timeCard.html" />
			</div>
			<div class="right-section-part">
				<div class="workout-list-wrapper">
					<p class="not-items-message" hidden>
						It appears that you haven't added any exercises to your
						favorites yet. To get started, you can add exercises
						that you like to your favorites for easier access in the
						future.
					</p>
					<ul class="workout-list" id="exercise-cards-container"></ul>
				</div>
			</div>
		</div>
	</div>
</div>