<header class="header-section">
	<div class="container header-container">
		<a href="/" class="logo">YOUR ENERGY</a>

		<button type="button" class="burger-btn js-burger-button" id="burger">
			<svg width="32" height="32">
				<use href="/img/sprite.svg#burger"></use>
			</svg>
		</button>

		<nav class="header-desktop-nav">
			<load src="/partials/sharedComponents/navigation.html" place="header" />

			<load src="/partials/sharedComponents/socials.html" place="header" />
		</nav>
	</div>
</header>


