@import url('./reset.css');
@import url('./izi-toast.css');
/* Sections style */
@import url('./partials/header.css');
@import url('./partials/sharedComponentsStyles/navigation.css');
@import url('./partials/sharedComponentsStyles/socials.css');
@import url('./partials/mobile-menu.css');
@import url('./partials/sharedComponentsStyles/pagination.css');
@import url('./partials/sharedComponentsStyles/categoryCard.css');
@import url('./partials/sharedComponentsStyles/exerciseCardOnHomepage.css');
@import url('./partials/favorites.css');
@import url('./partials/hero.css');
@import url('./partials/footer.css');
@import url('./scroll-to-top-btn.css');
@import url('./partials/home.css');
@import url('./partials/modal.css');
/* @import url('./partials/loader.css'); */
@import url('./partials/rating-modal.css');

:root {
	--text-color: black;
	--text-size: 14px;
	--test-size-mobile: 18px;
	--accent-color: #242424;
	--bg-color: #f4f4f4;

	--social-border-header: rgba(36, 36, 36, 0.1);
	--social-border-mobile-menu: rgba(244, 244, 244, 0.1);
	--social-icon-header: rgba(36, 36, 36, 0.8);
	--social-icon--mobile-menu: rgba(244, 244, 244, 0.8);

	/* Transitions */
	--fast-trns: 300ms ease;
}

body {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: var(--text-size);
	background-color: var(--bg-color);
	color: var(--text-color);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
	overflow: clip;
}

.wrapper > .main {
	flex-grow: 1;
}

.invisible {
	opacity: 0;
	pointer-events: none;
}

/* Styles for Mobile devices */
.container {
	min-width: 320px;
	max-width: 375px;
	margin: 0 auto;
	padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 32px;
	}
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding: 0 32px;
	}
}