 <div class="quote-day-card">
 <span class="quote-icon-running">
  <img
   src="/img/runner.svg"
   width="34"
   height="32"
   alt="Running Icon"
  >
 </span>

 <div class="quote-day-card-content">
  <h2 class="quote-day-card-title">Quote of the day</h2>
  <p class="quote-day-card-text"></p>
  <p class="quote-day-card-author"></p>
 </div>

 <span class="quote-icon-mark">
  <img
   src="/img/time-gantel-icon.svg"
   width="20"
   height="20"
   alt="Quotation Mark"
  >
 </span>
 <span class="quote-icon-mark">
  <svg width="18" height="15" style="fill: #f4f4f4 !important;">
    <use href="/img/sprite.svg#icon-commas"></use>
  </svg>
 </span>

</div>