<div class="time-card-wrapper">
	<div class="time-min-card">
		<span class="time-icon-gantel">
  <svg width="20" height="20" style="fill: #242424;">
    <use href="/img/sprite.svg#icon-gantel"></use>
  </svg>
</span>
		<p class="time-min-card-title">110 min</p>
		<p class="time-min-card-text">Daily norm of sports</p>
	</div>
	<div class="time-min-image">
		<picture>
			<source
				media="(min-width: 1440px)"
				srcset="
					./img/favorites/desktop_1x.png 1x,
					./img/favorites/desktop_2x.png 2x
				"
			>
			<source
				media="(min-width: 768px)"
				srcset="
					./img/favorites/tablet_1x.png 1x,
					./img/favorites/tablet_2x.png 2x
				"
			>
			<source
				media="(max-width: 767px)"
				srcset="
					./img/favorites/mobile_1x.png 1x,
					./img/favorites/mobile_2x.png 2x
				"
			>
			<img src="./img/favorites/desktop_1x.png" alt="Girls talking">
		</picture>
	</div>
</div>