.category-card {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 225px;

	border-radius: 12px;
	overflow: hidden;

	cursor: pointer;

	transition: transform 0.3s ease;

	@media (min-width: 768px) {
		width: 225px;
		height: 225px;
	}

	@media (min-width: 1440px) {
		width: 290px;
		height: 242px;
	}
}

.category-card-text {
	display: flex;
	flex-direction: column;
	gap: 2px;

	text-align: center;
}

.category-card-title {
	color: var(--bg-color);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;

	@media (min-width: 768px) {
		font-size: 24px;
	}
}

.category-card-sub {
	color: rgba(244, 244, 244, 0.4);
	font-size: 12px;
	line-height: 1.5;
}