@media (min-width: 768px) {
	.quote-wraper {
		display: flex;
		flex-direction: row;
	}
}

@media (min-width: 1440px) {
	.quote-wraper {
		flex-direction: column;
	}
}

.quote-day-card {
	background-color: var(--accent-color);
	max-width: 335px;
	width: 100%;
	border-radius: 20px;
	padding: 20px 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.quote-day-card {
		max-width: unset;
		width: 400px;
		padding: 40px 40px;
		margin-bottom: 32px;
		margin-right: 16px;
	}

	.desktop-favorites-section .quote-day-card {
		width: 100%;
	}
}

@media (min-width: 1440px) {
	.quote-day-card {
		width: 444px;
	}
}

.quote-icon-running {
	position: absolute;
	top: 20px;
	left: 20px;
}

.quote-icon-mark {
	position: absolute;
	top: 20px;
	right: 20px;
}

@media (min-width: 768px) {
	.quote-icon-running {
		top: 40px;
		left: 40px;
	}

	.quote-icon-mark {
		top: 40px;
		right: 40px;
	}
}

.quote-day-card-content {
	width: 100%;
	height: 100%;
	min-height: 126px;
	display: flex;
	flex-direction: column;
	padding-left: 52px;
}

@media (min-width: 768px) {
	.quote-day-card-content {
		padding-left: 50px;
	}
}

.quote-day-card-title {
	color: #f4f4f4;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 8px;
}

@media (min-width: 768px) {
	.quote-day-card-title {
		line-height: 1.3;
		font-size: 24px;
		margin-bottom: 6px;
	}
}

.quote-day-card-text {
	color: rgba(244, 244, 244, 0.6);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
	flex-shrink: 0;
	margin-bottom: 8px;
}

.quote-day-card-author {
	margin-top: auto;
	color: #f4f4f4;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
}

.quote-day-card .loader-wrapper {
	width: 100px !important;
	height: 100px !important;
}

.quote-card {
  position: relative;
}

.quote-card {
  position: relative; 
  background-color: #242424; 
  border-radius: 20px;
  padding: 40px; 
}

.quote-card {
  position: relative; 
  background-color: #242424;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}

.quote-icon-mark {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #f4f4f4 !important;
}